{% load static %}
<!DOCTYPE html>
<html lang="es" class=" bg-stone-900 ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}Titulo pestaña {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>
<body class=" italic ">
    <main class="grid grid-cols-8 gap-2 m-2 text-white">
        {% block main %}{% endblock %}   
    </main>
</body>
</html>