{% extends './base.html' %}


{% block main %}
<section class=" p-2 col-span-8 md:col-span-5 lg:col-span-6 bg-orange-700  ">
    <div class=" text-2xl grid text-center place-content-center ">
        <h1>Fantomas 😁</h1>
        <p>{{ SITIO_SLOGAN }}</p>
    </div>
    <article class=" bg-blue-900 mt-7 p-2">
        <h2>Articulo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, consequuntur rem illo magni doloribus provident possimus. Laboriosam maiores fugit odio impedit repellendus!
        </p>
    </article>
    <article class=" bg-blue-900 mt-7 p-2">
        <h2>Articulo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, consequuntur rem illo magni doloribus provident possimus. Laboriosam maiores fugit odio impedit repellendus!
        </p>
    </article>
    <article class=" bg-blue-900 mt-7 p-2">
        <h2>Articulo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, consequuntur rem illo magni doloribus provident possimus. Laboriosam maiores fugit odio impedit repellendus!
        </p>
    </article>
    <article class=" bg-blue-900 mt-7 p-2">
        <h2>Articulo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, consequuntur rem illo magni doloribus provident possimus. Laboriosam maiores fugit odio impedit repellendus!
        </p>
    </article>
    <article class=" bg-blue-900 mt-7 p-2">
        <h2>Articulo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, consequuntur rem illo magni doloribus provident possimus. Laboriosam maiores fugit odio impedit repellendus!
        </p>
    </article>
    <article class=" bg-blue-900 mt-7 p-2">
        
        
    </article>
</section>
<section class=" p-2 col-span-8 md:col-span-3 lg:col-span-2 bg-lime-900 ">
    Menú
</section>
<footer class=" p-2 col-span-8 bg-emerald-700">
    Píe de página
</footer>
{% endblock %}
    