{% load static %}
<!DOCTYPE html>
<html lang="es" class=" bg-stone-900 ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>   
        {{ SITIO_TITULO }}
    </title>

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="icon" href="{{SITIO_ICONO}}" type="image/x-icon">
</head>
<body class=" italic ">
    <main class="w-97 mx-auto grid grid-cols-9 gap-2 p-3 bg-black shadow-xl">
        {% block main %}{% endblock %}   
    </main>
</body>
</html>