{% extends './base.html' %}
{% load static %}

{% block main %}
<section class=" col-span-9 shadow shadow-yellow-500 lg:col-span-7 bg-sky-700">
    <div class=" bg-slate-900 text-white text-2xl m-1 flex flex-col items-center p-2 divide-y-2 divide-yellow-500">
        <h1 class=" p-2">{{ SITIO_TITULO }}</h1>
                <!-- Panel de administración --> 
        <p>{{ SITIO_SLOGAN }}</p

            
    </div>
    
    <!-- <div class=" text-2xl text-yellow-300 bg-pink-900 p-2 m-1 ">
        <h2>Bienvenido ☺</h2>
        <img class="object-cover mx-auto h-32 shadow shadow-lime-400 rounded-full w-32" src="" alt="Workflow">
    </div> -->
    <div class="w-full mt-5 p-2 bg-red-800">
        <h2>Bienvenido ☺</h2>
        <img class="object-cover mx-auto h-32 shadow shadow-lime-400 rounded-full w-32" src="{{ SITIO_IMG }}" alt="Workflow">
    </div>
</section>
<section class="p-1 col-span-9 shadow-xl lg:col-span-2 bg-red-700">
    <aside class="h-auto p-3 hidden md:grid space-y-2 w-auto shadow  bg-gray-900 shadow-white">
        <div class="flex items-center p-2 space-x-4 text-yellow-300">
            <img
            src="https://source.unsplash.com/100x100/?portrait"
            alt=""
            class="w-12 h-12 rounded-full"
            />
            <div>
            <h2 class="text-lg font-semibold">Leroy Jenkins</h2>
            <span class="flex items-center space-x-1 ">
                <a href="#" class="text-xs hover:underline text-red-300"
                >Ver perfil</a
                >
            </span>
            </div>
        </div>
        <div class="divide-y divide-gray-300 ">
            <ul class="pt-2 pb-4 space-y-1 text-xl">
                <li class="bg-indigo-900 text-white">
                    <a href="#" class="flex items-center p-2 space-x-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-yellow-300">
                        <path d="M68.983,382.642l171.35,98.928a32.082,32.082,0,0,0,32,0l171.352-98.929a32.093,32.093,0,0,0,16-27.713V157.071a32.092,32.092,0,0,0-16-27.713L272.334,30.429a32.086,32.086,0,0,0-32,0L68.983,129.358a32.09,32.09,0,0,0-16,27.713V354.929A32.09,32.09,0,0,0,68.983,382.642ZM272.333,67.38l155.351,89.691V334.449L272.333,246.642ZM256.282,274.327l157.155,88.828-157.1,90.7L99.179,363.125ZM84.983,157.071,240.333,67.38v179.2L84.983,334.39Z">
                        </path>
                    </svg>
                    <span>Enlace 1</span>
                    </a>
                </li>
            </ul>
            <ul class="pt-2 pb-4 space-y-1 text-xl">
                <li class="bg-indigo-900 text-white">
                    <a href="#" class="flex items-center p-2 space-x-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-yellow-300">
                        <path d="M68.983,382.642l171.35,98.928a32.082,32.082,0,0,0,32,0l171.352-98.929a32.093,32.093,0,0,0,16-27.713V157.071a32.092,32.092,0,0,0-16-27.713L272.334,30.429a32.086,32.086,0,0,0-32,0L68.983,129.358a32.09,32.09,0,0,0-16,27.713V354.929A32.09,32.09,0,0,0,68.983,382.642ZM272.333,67.38l155.351,89.691V334.449L272.333,246.642ZM256.282,274.327l157.155,88.828-157.1,90.7L99.179,363.125ZM84.983,157.071,240.333,67.38v179.2L84.983,334.39Z">
                        </path>
                    </svg>
                    <span>Enlace 2</span>
                    </a>
                </li>
            </ul>
            <ul class="pt-2 pb-4 space-y-1 text-xl">
                <li class="bg-indigo-900 text-white">
                    <a href="#" class="flex items-center p-2 space-x-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-yellow-300">
                        <path d="M68.983,382.642l171.35,98.928a32.082,32.082,0,0,0,32,0l171.352-98.929a32.093,32.093,0,0,0,16-27.713V157.071a32.092,32.092,0,0,0-16-27.713L272.334,30.429a32.086,32.086,0,0,0-32,0L68.983,129.358a32.09,32.09,0,0,0-16,27.713V354.929A32.09,32.09,0,0,0,68.983,382.642ZM272.333,67.38l155.351,89.691V334.449L272.333,246.642ZM256.282,274.327l157.155,88.828-157.1,90.7L99.179,363.125ZM84.983,157.071,240.333,67.38v179.2L84.983,334.39Z">
                        </path>
                    </svg>
                    <span>Enlace 3</span>
                    </a>
                </li>
            </ul>


        </div>
    </aside>
</section>

<footer class=" p-2 col-span-9 bg-emerald-700 shadow shadow-white">
    Píe de página
</footer>
{% endblock %}
    