{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ SITIO_TITULO }}</title>

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="icon" href="{{SITIO_ICONO}}" type="image/x-icon">
</head>
<body class=" bg-slate-900 ">
<div class="max-w-md w-full mx-auto  p-4 italic">
    <div class="my-9">
    <img class="mx-auto h-32 shadow shadow-lime-400 rounded-full w-32" src="{{SITIO_IMG}}" alt="Workflow">
    <h2 class=" text-center text-3xl mt-4 font-extrabold text-white">
        Panel de administracíon 
    </h2>
    
    </div>

<form class="p-8 text-xl bg-rose-900 shadow shadow-lime-400" method="POST">
        {% csrf_token %}
    <div class="rounded-md shadow-sm space-y-4">
        <div>
            <label for="username" class="block text-center md:text-justify text-xl font-medium text-white " >
                {{ form.username.label }}
            </label>
            {{ form.username }}
        </div>
        <div class="">
        <label for="password" class="block text-center md:text-justify text-xl font-medium text-white">
            {{ form.password.label }}
        </label>
        {{ form.password }}
            
        </div>
    </div>
    
        <div class=" flex items-center justify-between my-5">
            <div class="flex items-center text-lg">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember-me" class="ml-2 block  text-white">
                Remember me
            </label>
            </div>
    
            <div class="text-lg">
            <a href="#" class="font-medium text-white hover:text-indigo-500">
                Forgot your password?
            </a>
            </div>
        </div>
    
        <div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </span>
                Entrar
            </button>
        </div>
        </form>
</div>
</body>
</html>